<div class="row">
  <div class="col-3">
    <h2>Registro de Mis Notas</h2>
    <br>
    <br>

    <button class="btn btn-warning" [routerLink]="['/usuario']"> Volver</button>
  </div>
  <div class="col-6">
    <div *ngFor="let item of notasById">
      <div class="card text-white bg-danger text-center ">
        <br>
        <b style="color:white"> {{item.usuario.login }}, escribiste acerca de:</b>
        <div class="card-body">
          <p class="card-text col-sm-12 italic">
            <b>{{item.titulo }} </b>
            <br> {{item.descripcion}}
          </p>
          <p class="card-text col-sm-20 italic">
            <button class="btn btn-danger" (click)="eliminarNotas(item.id)">Eliminar</button>

          </p>
        </div>
      </div>


    </div>

  </div>

</div>