
input, button, select, optgroup, textarea{
    border-radius:8px;
}

h2{
    color:rgb(112, 3, 76);
}
.row{
    margin:20px;
    margin-top:200px;
}
.btn btn-warning{
    color:white;
    font-weight: bold;
}
.mat-drawer-inner-container{
 overflow: hidden !important;
  }

  .header {
    width: calc(100% + 55px);
  }
.flecha-down {
    margin-left: 5% !important;
    width:0px;
    height:0px;
    border-left:45px solid transparent; /* izquierda flecha */
    border-right:45px solid transparent; /* derecha flecha */
    border-top:30px solid #dc35c552 ; /* base flecha y color*/
    margin-bottom:10px;
    padding-top:0px;
    font-size:0px;
    line-height:0px;
}
.bg-danger {
    background-color: #dc35c552 !important;
    border-radius: 5px 40px 50px 5px;
    margin-top:10px;
    border-radius: 5px;
  
}

 .bg-dark {
        background-color: #b903ff !important;
        border-radius: 10px;
    }
.btn-primary{
    background:#e83e8c;
}

.valid-feedback{
    color:white;
    font-size:15px;
    border:1px solid red;
    text-align: center;
    background:rgb(255, 49, 49);
    max-width:100%;
}
.mat-drawer-inner-container{
    overflow:hidden !important;
}
.example-container {
    padding: 30px;
    overflow: hidden !important;
  }

  .mat-sidenav-container{
    overflow: hidden;
}

label .whitetitle {
    color:white !important;
}