<div class="row">
    <div class="col-lg-12">
        <div class="card text-center zoom" style="margin-right:5%">
            <div class="card-body">
                <div class="card-title">
                    <h2>Sistema para Gestión de Claves</h2>
                </div>
                <p> ¡Bienvenido {{usuario}} !</p>
                <p>El sistema de gestión de claves empresarial, permite escribir las claves de su empresa en una plataforma
                    online para la gerencia de Armalum. Además de agregar notas y comentarios.</p>
                <p>¡Comienza Ahora!</p>

            </div>
        </div>
    </div>
</div>