.row{
    margin-top: 5%;
    }
    .card{
        margin-left: 5% ;
        color: #921cee !important;
    }
    .text-primary{
        color:#921cee !important;
    }
    .rounded-circle{
        max-width:150px;
        max-height:300px;
        
    }
    @keyframes changewidth {
        from {
          background:rgb(248, 242, 253);
        }
      
        to {
         background: rgba(101, 55, 177, 0.836);
         color:white;
        }
      }
    
    .zoom{
     
        animation-duration: 2s;
        animation-name: changewidth;
        animation-iteration-count: 4;
        animation-direction: alternate;
    }
    .contenedor{
        margin: 60px 50px 50px 60px;
    }
    
    .example-sidenav{
        width:500px;
        overflow: hidden !important;
    
    }
    
    .sidebar-card{
        background-color:rgba(255, 255, 255, 0.86);
        border-radius: 15px;
        max-width:90%;
        overflow: hidden !important;
    
        
     
    }
    
    .sidebar-letter{
        color:white;
    }
    
    .title-sidebar{
        color:#ffff;
        text-align:center;
    }