<div class="col-lg-12"><h2> </h2></div>
<div class="card bg-dark text-white">
  <div class="card-body">
      
    <form   #formid="ngForm">
      <div class="form-group row">
        <div class="col-sm-12">
            <label for="nombre" style="color:white">Titulo</label><br>

          <input type="text"  [(ngModel)]="titulo" name="idtitulo" class="form-control is-valid customControlValidation1"  #idtitulo="ngModel"  required>
          <div class="valid-feedback" *ngIf="idtitulo.errors?.required && idtitulo.touched ">
            Debe insertar un titulo.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
            <label for="email" style="color:white">Descripcion</label><br>

          <input type="textarea" [(ngModel)]="descripcion" name="iddescripcion"  class="form-control is-valid customControlValidation1"  #iddescripcion="ngModel"  required>
          <div class="valid-feedback" *ngIf="iddescripcion.errors?.required && iddescripcion.touched">
            Debe insertar una descripcion.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='agregarNota()' [disabled]="formid.invalid">Agregar Nota</button>

        
        </div>
        <div class="col-sm-6">
            <button class="btn btn-primary" role="button"  [routerLink]="['/mis-notas']">Ver todas mis notas</button>
  
          
          </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div *ngFor="let item of todasLasNotas | reverse| slice:0:3 ">
          <div class="card text-white bg-danger "><br>
              <b style="color:#a63092"> {{item.usuario.login }} escribió acerca de:</b>
            <div >  </div>
              <div class="card-body">
              <p class="card-text italic">
                <b>{{item.titulo }} </b><br>
                " {{item.descripcion}}   "
              </p></div>   
              <div text-left *ngIf="nombreusuario.login==item.usuario.login"><button class="btn btn-link" (click)="eliminarNotas(item.id)"> eliminar esta publicacion</button></div>
    
</div><div class="flecha-down"></div></div></div><br><br>



    <div class="col-sm-12 text-center" *ngIf="!show">
      <button class="btn btn-link" (click)="show=true">Mostrar Todo</button></div>
      <div class="col-sm-12" *ngIf="show">
        <div *ngFor="let item of todasLasNotas | reverse | slice:3:1000">
          <div class="card text-white bg-danger "><br>
              <b style="color:#a63092"> {{item.usuario.login }} escribió acerca de:</b>
            <div >  </div>
              <div class="card-body">
              <p class="card-text italic">
                <b>{{item.titulo }} </b><br>
                " {{item.descripcion}} "
              </p>
            <div text-left *ngIf="nombreusuario.login==item.usuario.login"><button class="btn btn-link" (click)="eliminarNotas(item.id)"> eliminar esta publicacion</button></div>
            </div>       
          </div><div class="flecha-down"></div></div>
          <div><button class="btn btn-link" *ngIf="show" (click)="show=false">Mostrar menos </button></div>
    
    </div>
