/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(248, 248, 248); 
    border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(183, 0, 255, 0.404); 
    border-radius: 15px;
    size: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(183, 0, 255, 0.404); 
}


input, button, select, optgroup, textarea{
    border-radius:8px;
}
.mat-drawer-inner-container{
 overflow: hidden !important;
  }

  .header {
    width: calc(100% + 55px);
  }
.flecha-down {
    margin-left: 5% !important;
    width:0px;
    height:0px;
    border-left:45px solid transparent; /* izquierda flecha */
    border-right:45px solid transparent; /* derecha flecha */
    border-top:30px solid #dc35c552 ; /* base flecha y color*/
    margin-bottom:10px;
    padding-top:0px;
    font-size:0px;
    line-height:0px;
}
.bg-danger {
    background-color: #dc35c552 !important;
    border-radius: 5px 40px 50px 5px;
    margin-top:10px;
    border-radius: 5px;
  
}

 .bg-dark {
        background-color: #b903ff !important;
        border-radius: 10px;
    }
.btn-primary{
    background:#e83e8c;
}


.mat-drawer-inner-container{
}
.example-container {
    padding: 30px;
  }

  .mat-sidenav-container{
}



