<app-header></app-header> <br><br>
<div class="card border-primary mb-3">
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de claves</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-warning" type="button" [routerLink]="['/form']">
          Crear claves
        </button>
        <button class="btn btn-rounded btn-yellow" type="button" [routerLink]="['/usuario']">
          volver
        </button>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
             
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>claves</th>
            <th>Notas</th>
            <th>
              editar
            </th>
            <th>eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let claves of datos ">
            <td><div *ngIf="actualizar!=claves.id">{{ claves.id }}</div>
              <div *ngIf="actualizar==claves.id">{{claves.id}}</div>
            </td>
            <td><div *ngIf="actualizar!=claves.id" >{{ claves.name }}</div>
            <div *ngIf="actualizar==claves.id"><input type="text" placeholder="{{claves.name}}"  [(ngModel)]="nombre" ></div>
            </td>
            <td><div *ngIf="actualizar!=claves.id" >{{ claves.apellido }}</div>
            <div *ngIf="actualizar==claves.id"><input type="text" placeholder="{{claves.apellido}}"  [value]="claves.apellido" [(ngModel)]="apellido"></div></td>

            <td><div *ngIf="actualizar!=claves.id">{{ claves.email }}</div>
              <div *ngIf="actualizar==claves.id"><input type="text" placeholder="{{claves.email}}" [value]="claves.email" [(ngModel)]="email"></div></td>

            <td><div *ngIf="actualizar!=claves.id">{{ claves.fecha  | date: 'yyyy-MM-dd' }}</div>
            <div *ngIf="actualizar==claves.id"><input type="date" placeholder="{{claves.fecha}}" [value]="claves.fecha" [(ngModel)]="fecha"></div></td>
            
            <td><div *ngIf="actualizar!=claves.id">{{ claves.clave}}</div>
            <div *ngIf="actualizar==claves.id"><input type="text" placeholder="{{claves.clave}}" [(ngModel)]="pass"></div></td>
     
            <td><div *ngIf="actualizar!=claves.id">{{ claves.notas}}</div>
              <div *ngIf="actualizar==claves.id"><input type="text" placeholder="{{claves.notas}}" [value]="claves.notas" [(ngModel)]="notas"></div></td>
          
            <td>
            <div *ngIf="actualizar!=claves.id">
            <button class="btn btn-warning" type="button" name="editar" (click)='verificarId(claves.id)' class="btn btn-primary btn-sm">editar</button>
            </div>
            <div *ngIf="actualizar==claves.id"><button class="btn btn-danger" (click)="verificarId(null)">X</button> <button class="btn btn-warning"  (click)="updateKeys(claves.id)">Guardar</button></div>

            </td>
            <td>
              
              <button type="button" name="eliminar" (click)='deleteKeys(claves.id)' class="btn btn-danger btn-sm">eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  
