.bg-dark {
    background-color: rgba(126, 0, 255, 0.75) !important;
}

.valid-feedback{
    color:white;
    font-size:15px;
    border:1px solid red;
    text-align: center;
    background:rgb(255, 49, 49);
    max-width:100%;
}

.btn-primary{
    color: #fff;
    background-color: #9e15c7;
    border-color: #ff0dcb;
    margin-left:15px;

}

.btn-warning{
    
        color: #ffffff  !important;
        background-color: #fa459e !important;
        border-color: #ffc107 !important;
        margin-left:15px;

  
    
}


