<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
  
      <form  #formaid="ngForm">
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Usuario</label>
          <div class="col-sm-6">
              <input type="text"  [(ngModel)]="name" name="elnombre" #elnombre="ngModel" class="form-control is-valid customControlValidation1" required>  
              <div class="valid-feedback" *ngIf="elnombre.errors?.required && elnombre.touched">
                  Debe insertar una nombre.
                </div>
            </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2" >Clave</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="pass" name="elpass" #elpass="ngModel" class="form-control is-valid customControlValidation1" required>
            <div class="valid-feedback" *ngIf="elpass.errors?.required && elpass.touched">
                Debe insertar una contrasena.
              </div>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="apellido" class="col-form-label col-sm-2">Esta clave es de:(ejemplo: Banco santander)</label>
          <div class="col-sm-6">
            <input type="text"  [(ngModel)]="apellido" name="ladescri" #ladescri="ngModel" class="form-control is-valid customControlValidation1" required>
            <div class="valid-feedback" *ngIf="ladescri.errors?.required && ladescri.touched">
                Debe insertar una descripcion.
              </div>
          </div></div>
        
  
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Email Registrado</label>
          <div class="col-sm-6">
            <input type="email"  [(ngModel)]="email" name="elemail" #elemail="ngModel" 
          class="form-control is-valid customControlValidation1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            <div class="valid-feedback" *ngIf="elemail.errors?.required && elemail.touched && email.invalid || email.errors?.pattern">
                Debe insertar un correo valido.
              </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2">Fecha de creacion aproximada</label>
            <div class="col-sm-6">
              <input type="date" [(ngModel)]="fecha" name="lafecha"  #lafecha="ngModel" class="form-control is-valid customControlValidation1" required>
              <div class="valid-feedback" *ngIf="lafecha.errors?.required && lafecha.touched">
                  Debe insertar una fecha.
                </div>
            </div>
          </div>
  
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Nota</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="descripcion" name="ladescripcion" #ladesripcion="ngModel" class="form-control is-valid customControlValidation1" >
          </div>
        </div>
        
  
        <div class="form-group row">
          <div class="row col-sm-6">
            <button  class="btn btn-warning"    (click)='create()'  [disabled]="formaid.invalid">Crear</button> <br>
            <button  class="btn btn-primary"  [routerLink]="['/usuario']">Volver</button> 
          </div>
        </div>
      </form>
  
    </div>
  </div>
  