<mat-drawer-container class="example-container " autosize style="overflow:hidden;">
    <mat-drawer #drawer class="example-sidenav " mode="side">

        <div class="card-top  scrollbar-deep-purple ">
            <h2 class="title-sidebar"> Notas </h2>
            <br>
            <br>
            <div class="card sidebar-card">
                <div class="card-body">
                    <br>
                    <div class="example-container text-center ">
                           <!--sidebar para agregar notas-->
                        <app-notas></app-notas>

                    </div>
                </div>
            </div>
        </div>


        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>-->

    </mat-drawer>

    <app-header></app-header>
    <!--head-->

    <!--el perfil-->
    <div class="contenedor">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 ">
                    <div class="card">
                        <div class="card-body text-primary ">
                            <div class="card-title  text-center">Mi Perfil</div>
                            <div class="card-body row">
                                <div [hidden]="!ruta">
                                <img [src]="ruta" class="rounded-circle"  >    
                                </div>
                                <div [hidden]="ruta">
                                 <img [src]="alternativa" class="rounded-circle"  >   
                                </div>
                                <p  class="col-sm-6"> 
                                    <br>
                                <b>Nombre:</b><br>
                                 {{datosusuario.nombres}} <br><br>
                                <b>Email:</b><br>
                                 {{datosusuario.email}}</p>
                                
                            </div>
                            <div class="col-lg-12 text-right">
                                <button class="btn btn-success" [routerLink]="'/cargar-img'">Editar Perfil</button>
                                <button class="btn btn-rounded btn-warning" type="button" (click)="drawer.toggle()"> Nueva Nota </button>
                                <button class="btn btn-rounded btn-primary" type="button" [routerLink]="'/mis-claves'">
                                    Mis publicaciones
                                </button>
                                <button class="btn btn-rounded btn-danger" type="button"(click)="salir()">
                                    Cerrar Sesion
                                </button>
                            </div>
                        </div>
                    </div>
        
                </div></div>

<!--el mantenedor-->
<br><br>
        <app-mantenedor></app-mantenedor>
    </div>
</mat-drawer-container>