
/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(248, 248, 248); 
    border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(183, 0, 255, 0.404); 
    border-radius: 15px;
    size: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(183, 0, 255, 0.404); 
}

.btn{
    margin:5px;
}


label{
    margin-left:10px;
}
.card-top{
margin-top:15% !important;
}
.mat-drawer-inner-container{
    background-color: #310732ba  !important;
    overflow: hidden !important;
}

 .mat-drawer{
    background-color: #921cee !important;
    overflow: hidden !important;

 }   
.row{
margin-top: 5%;
}
.card{
    margin-left: 5% ;
    color: #921cee !important;
}
.text-primary{
    color:#921cee !important;
}
.rounded-circle{
    max-width:150px;
    max-height:300px;
    
}
@keyframes changewidth {
    from {
      background:rgb(248, 242, 253);
    }
  
    to {
     background: rgba(101, 55, 177, 0.836);
     color:white;
    }
  }

.zoom{
 
    animation-duration: 2s;
    animation-name: changewidth;
    animation-iteration-count: 4;
    animation-direction: alternate;
}
.contenedor{
    margin: 60px 50px 50px 60px;
}

.example-sidenav{
    width:500px;
    overflow: hidden !important;

}

.sidebar-card{
    background-color:rgba(255, 255, 255, 0.86);
    border-radius: 15px;
    max-width:90%;
    overflow: hidden !important;

    
 
}

.sidebar-letter{
    color:white;
}

.title-sidebar{
    color:#ffff;
    text-align:center;
}
.mat-form-field{
 background-color: rgba(255, 255, 255, 0.568) !important;
 border-radius: 8px;
 width:80%;
}

.mat-form-field-infix{
background-color: rgba(255, 255, 255, 0.568)  !important;
border-radius: 8px; }

.mat-stroked-button{

    background: #890a9a;
    color: white;
    border-radius: 8px;
}


.mat-drawer{
    overflow:hidden;
}
.mat-drawer-inner-container{
    overflow:hidden !important;
}
.mat-sidenav-container{
    overflow: hidden;
}

.rounded-circle{
    margin-right:20px;
    max-width:180px;
     max-height:180px;
}

.btn .btn-warning{
    background:#fa459e !important;
}