.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top:40px;
}
.logo{
    max-width:15%;
}
.passw{
margin-left:2px;
color:#871e92 !important;
background:none;
}