<div class="row">
    <div class="col-lg-12">

        <img class="logo mx-auto d-block" src="../../assets/llave.png" alt="">
    </div>
    <div class="col-lg-12">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center" center-block>Gestión de Contraseñas</h5><br>
                <input type="text" class="form-control" id="usuario" required [(ngModel)]="usuario" name="usuario">
                <br>

                <div class="form-group row" style="margin-left:8px" >
                <input  id="pass" class="form-control" required [(ngModel)]="pass" [type]="typePass" name="pass" style="max-width:80%">
                <button class="passw" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="cambiaTypePass()">
                        <fa-icon *ngIf="typePass=='password'" [icon]="faEye"></fa-icon>
                        <fa-icon *ngIf="typePass=='text'" [icon]="faEyeSlash"></fa-icon>
                </button></div>
                <br>
                <div class="text-center">
                <button (click)="login()" class="btn btn-info text-center">Iniciar sesion</button></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center">
            <button class="btn btn-rounded btn-link" type="button" [routerLink]="['/registrar']">
            Quiero  Registrarme
              </button>    
    </div>
</div>