.text-primary{
color: #921cee !important;
}

.btn-primary{
    color: #fff;
    background-color: #9e15c7;
    border-color: #ff0dcb;

}

.btn-warning{
    
        color: #ffffff  !important;
        background-color: #fa459e !important;
        border-color: #ffc107 !important;
  
    
}

.italic{
    font-style: italic;
}


label{
    margin-left:10px;
}
.card-top{
margin-top:15% !important;
}
.mat-drawer-inner-container{
    background-color: #68488c !important;
    overflow: hidden !important;
}

 .mat-drawer{
    background-color: #921cee !important;
    overflow: hidden !important;

 }   
.row{
margin-top: 5%;
}
.card{
    margin-left: 5% ;
    color: #921cee !important;
}
.text-primary{
    color:#921cee !important;
}
.rounded-circle{
    max-width:150px;
    max-height:300px;
    
}

.btn-publicado{
    background: #921cee;
    color:white;
}