<div class="row h-100 justify-content-center align-items-center">
  <div class="col-lg-4 h-100 justify-content-center align-items-center">
    <div class="card" style="width: auto; margin: auto auto;">
      <div class="card-body text-center">
        <h5 class="card-title ">Nuevo Usuario</h5>
      <br>
      <div class="col-lg-12">
        <input  class="form-control" type="text" name="usuario" placeholder="Nombre de Usuario" id="apellidos" [(ngModel)]="apellidos">
        <br>
        <br>
        <input class="form-control"  type="email" name="email" placeholder="Email" id="email" [(ngModel)]="email">
        <br>
        <br>
        <input class="form-control"  type="nombres" name="nombres" placeholder="Nombres" id="nombres" [(ngModel)]="nombres">
        <br>
        <br>
        <input class="form-control"  type="descripcion" name="descripcion" placeholder="descripcopn" id="descripcion" [(ngModel)]="descripcion">
        <br>
        <br>
        <input class="form-control"  type="number" name="telefono" placeholder="telefono" id="telefono" [(ngModel)]="telefono">
        <br>
        <br>
        <input class="form-control"  type="usuarionom" name="usuarionom" placeholder="usuarionom" id="usuarionom" [(ngModel)]="login">
        <br>
        <br>
        <input class="form-control"  type="text" name="clave" placeholder="clave" id="clave" [(ngModel)]="clave">
        <br>
        <br>
        <input type="file" (change)="cargandoImagen($event.target.files)" multiple>
        <div class="col-lg-12 text-center">
        <button class="form-control "  class="btn btn-primary" (click)="agregarUsuario()">Crear Usuario</button>
      </div>
      </div>
    </div> </div></div></div>