.row{
    margin: 20px;
}
.main-container{
    margin-top: 40px;
  }
  
  /* Drop Zone */
  .drop-zone { 
      border: dotted 3px lightgray; 
      opacity: 0.5; 
      color: #666; 
      text-align: center 
  }
  
  .file-over { 
      border: dotted 3px dodgerblue; 
  }
  
  .table { 
      margin-top: 30px; 
  }
  
  .text-green { 
      color: green 
  }
  
  #fileinput{
      background: rgb(97, 0, 136);
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    background:rgb(97, 0, 136);
    color:white;
    }

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: rgb(97, 0, 136);
    color:white;
    cursor: inherit;
    display: block;
}

.card-title{
    margin:20px;
}

.btn-success{
margin-left:100px;
}

.option{
    margin-top:10px;
}

.del{
    margin-right:10px;
}
.space{
    margin-left:15%;
}

.btn-yellow{
    background: darkorange;
    color:white;
    margin:10px;
}