<app-header></app-header>
<div class="row justify-content-md-center">
  <div class="card" style="width: 38rem;">
    <div class="card-title">
      <h5 style="text-align: center; top:10px;"> Editar Perfil </h5>
      <hr>
    </div>
    <img src="" alt="">
    <form enctype="multipart/form-data" method="post" name="fileinfo">
      <ul class="list-group ">

        <div class="col-lg-9">
          <li class="list-group-item">
              <div class="col-lg-12 row space">
                <button class="btn btn-yellow space" [routerLink]="'/usuario'">Volver </button>
  
                <button class="btn btn-danger" (click)="salir()">Cerrar Sesion </button>
              </div>
            <br>
              <div id="output" [hidden]="!fotourl">
                <img [src]="fotourl" width="200px" height="200px" />
              
              <div class="col-lg-6 row">
              <button class="btn btn-danger" (click)="deleteFoto(usuario.id)">Eliminar foto</button>
              </div></div>

              <div [hidden]="fotourl">
                  <img [src]="alternativa"  />
              <span class="btn btn-default btn-file" >

                Haz click para cambiar tu Foto
                <input type="file" id="avatar" (change)="onFileChange($event);mostrar==true" #fileInput>
              </span>
            
            </div>
          </li>
          <li class="list-group-item">
            <label for="nombre">Nombre:</label>
            <div *ngIf="actualizar!=usuario.id">{{ datosusuario.nombres }} </div>
            <div *ngIf="actualizar==usuario.id">
              <input type="text" placeholder="{{ datosusuario.nombres }}" [(ngModel)]="nombre" name="nombre">
            </div>
        
          <li class="list-group-item">
              <label for="apellido">Apellido</label>
            <div *ngIf="actualizar!=usuario.id">{{ datosusuario.apellidos }}</div>
            <div *ngIf="actualizar==usuario.id">
              <input type="text" placeholder="{{datosusuario.apellidos }}" [(ngModel)]="apellidos" name="apellido">
            </div>
          </li>
      
          <li class="list-group-item">
           <label for="Email">Email</label>
            <div *ngIf="actualizar!=usuario.id">{{ datosusuario.email}}</div>
            
            <div *ngIf="actualizar==usuario.id">
                <input type="text" placeholder="{{ datosusuario.email }}" [value]="usuario.email" [(ngModel)]="email" name="email">
            </div>
          </li>


          <li class="list-group-item">
              <label for="telefono">Telefono</label>

            <div *ngIf="actualizar!=usuario.id">{{ datosusuario.telefono }}</div>
            <div *ngIf="actualizar==usuario.id">
              <input type="number" placeholder="{{ datosusuario.telefono}}" [value]="usuario.telefono" [(ngModel)]="telefono" name="telefono">
            </div>
          </li>
        </div>
        <!--   aqui debe ir oculto 
      <div class="col-lg-6">
          <li class="list-group-item">
        <div *ngIf="actualizar!=usuario.id">{{ usuario.clave}}</div>
        <div *ngIf="actualizar==usuario.id">
          <input type="text" placeholder="{{usuario.clave}}" [(ngModel)]="usuario.clave">
        </div></li> 

      </div> -->

        <div class="col-lg-9 option">

          <li class="list-group-item">
            <div *ngIf="actualizar!=usuario.id">
              <button type="button" name="editar" (click)='verificarId(usuario.id)' class="btn btn-primary btn-sm">editar</button>
            </div>
            <div *ngIf="actualizar==usuario.id">
              <button class="btn btn-primary" (click)="verificarId(null)">Cancelar</button>
              <button class="btn btn-success" (click)="updateUsuario(usuario.id)">Guardar</button>
            </div>
            <br>
            <br>
          </li>
        </div>
      </ul>
    </form>
  </div>
</div>