@import "~bootstrap/dist/css/bootstrap.css";

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(248, 248, 248); 
    border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(183, 0, 255, 0.404); 
    border-radius: 15px;
    size: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(183, 0, 255, 0.404); 
}



    
    .btn-primary{
        color: #fff;
        background-color: #9e15c7;
        border-color: #ff0dcb;
    
    }
    
    .btn-warning{
        
            color: #ffffff  !important;
            background-color: #fa459e !important;
            border-color: #ffc107 !important;
      
        
    }
    
    .italic{
        font-style: italic;
    }
    
    
    label{
        margin-left:10px;
    }
    .card-top{
    margin-top:15% !important;
    }
    .mat-drawer-inner-container{
        background-color: #68488c !important;
    }
    
     .mat-drawer{
        background-color: #921cee !important;
    
     }   
    .row{
    margin-top: 5%;
    }
    .card{
        margin-left: 5% ;
        color: #921cee !important;
    }
  
    .rounded-circle{
        max-width:150px;
        max-height:300px;
        
    }



    



    label .whitetitle{
        color:white !important;
    }